*
!*/

!*.py
!README.md
!.gitignore

AutoTradeMachine_Zeta/Archives

!AutoTradeMachine_Zeta/config
!AutoTradeMachine_Zeta/config/assetSubscriptionList.txt
!AutoTradeMachine_Zeta/config/atmConfig.txt
!AutoTradeMachine_Zeta/config/guiConfig.txt
!AutoTradeMachine_Zeta/config/guioConfig.txt
!AutoTradeMachine_Zeta/config/windowIcon.png

!AutoTradeMachine_Zeta/GUIs/audios
!AutoTradeMachine_Zeta/GUIs/audios/*.mp3

!AutoTradeMachine_Zeta/GUIs/imgs/rsc
!AutoTradeMachine_Zeta/GUIs/imgs/rsc/*.png
!AutoTradeMachine_Zeta/GUIs/imgs/rsd
!AutoTradeMachine_Zeta/GUIs/imgs/rsd/.gitkeep
!AutoTradeMachine_Zeta/GUIs/imgs/sysGen
!AutoTradeMachine_Zeta/GUIs/imgs/sysGen/.gitkeep