*
!*/

!*.py
!README.md
!.gitignore

!config
!config/assetSubscriptionList.txt
!config/atmConfig.txt
!config/guiConfig.txt
!config/guioConfig.txt
!config/windowIcon.png

!GUIs/audios/
!GUIs/audios/*.mp3

!GUIs/imgs/rsc/
!GUIs/imgs/rsc/*.png
!GUIs/imgs/rsd
!GUIs/imgs/rsd/.gitkeep
!GUIs/imgs/sysGen
!GUIs/imgs/sysGen/.gitkeep